:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #ececec;
}

.user-msg{
  text-align: right;
}

.ai-msg{
  text-align: left;
}